<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Product.Defines.wxi ?>
  <Fragment>
    <Property Id="ARPSYSTEMCOMPONENT" Value="1"/>

    <DirectoryRef Id="TARGETDIR">
      <Component Id="AddRemovePrograms" Guid="{577d9358-d084-4643-9e19-efa705c1506d}">
        <RegistryValue Id="ARPEntry1" Type="string" Action="write" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\$(var.AppCode)" Name="DisplayName" Value="!(loc.APPNAME)"/>
        <RegistryValue Id="ARPEntry2" Type="string" Action="write" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\$(var.AppCode)" Name="DisplayVersion" Value="$(var.AppVersion)"/>
        <RegistryValue Id="ARPEntry3" Type="string" Action="write" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\$(var.AppCode)" Name="Publisher" Value="$(var.AppManufacturer)"/>
        <RegistryValue Id="ARPEntry4" Type="integer" Action="write" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\$(var.AppCode)" Name="NoModify" Value="1"/>
        <RegistryValue Id="ARPEntry5" Type="string" Action="write" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\$(var.AppCode)" Name="UninstallString" Value="&quot;[CommonAppDataFolder]\[ProductCode]\Uninstaller.exe&quot; !(loc.CULTURE)"/>
        <RegistryValue Id="ARPEntry6" Type="string" Action="write" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\$(var.AppCode)" Name="VersionMajor" Value="$(var.AppVersionMajor)"/>
        <RegistryValue Id="ARPEntry7" Type="string" Action="write" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\$(var.AppCode)" Name="VersionMinor" Value="$(var.AppVersionMinor)"/>
        <RegistryValue Id="ARPEntry8" Type="string" Action="write" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\$(var.AppCode)" Name="DisplayIcon" Value="[CommonAppDataFolder]\[ProductCode]\Uninstaller.exe"/>
        <RegistryValue Id="ARPEntry9" Type="string" Action="write" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\$(var.AppCode)" Name="LanguageCode" Value="!(loc.CULTURE)"/>
        <RegistryValue Id="ARPEntry10" Type="string" Action="write" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\$(var.AppCode)" Name="InternalVersion" Value="$(var.AppVersion)"/>
        <!-- <RegistryValue Id="ARPEntryN" Type="string" Action="write" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\WixMsi" Name="CustomProperty" Value="[CUSTOMPROPERTY]"/>  -->
      </Component>
      <Directory Id="CommonAppDataFolder">
        <Directory Id="UninstallDir" Name="$(var.AppProductCode)">
          <Component Id="UninstallerExe" Guid="{5210c72e-09df-4bea-be5b-2789254e84b7}">
            <File Id="UninstallerExeFile" Name="Uninstaller.exe" Source="$(var.OutDir)\Gui.exe" Vital="yes" KeyPath="yes">
              <Shortcut Id="UninstallerExeShortcut" Directory="ProgramMenuDir" Name="!(loc.SHORTCUT.UNINSTALLER.NAME)" WorkingDirectory="INSTALLDIR" Icon="icon.ico" IconIndex="0" Advertise="yes" Arguments="!(loc.CULTURE)" />
            </File>
          </Component>
          <Component Id="UninstallerExe_AppConfig" Guid="{cc4f917a-d60b-40c0-871b-6ca6b8b03457}">
            <File Id="UninstallerExeFile_AppConfig" Name="Uninstaller.exe.config" Source="$(var.OutDir)\Gui.exe.config" Vital="yes" KeyPath="yes" />
          </Component>
          <Component Id="UninstallerDll" Guid="{b5d683ba-5be6-4637-a052-f6e8d246f63e}">
            <File Id="UninstallerDllFile" Name="SharpSetup.dll" Source="$(var.OutDir)\SharpSetup.dll" Vital="yes" />
          </Component>
          <Component Id="UninstallerDll_$(var.GuiType)" Guid="{833d5459-9a1c-4e77-adff-ee05353ba528}">
            <File Id="UninstallerDllFile_$(var.GuiType)" Name="SharpSetup.$(var.GuiType).dll" Source="$(var.OutDir)\SharpSetup.$(var.GuiType).dll" Vital="yes" />
          </Component>
          <?foreach Culture in $(var.Cultures) ?>
          <Directory Id="UninstallerDirLocalization_$(ss.Replace($(var.Culture), -, _))" Name="$(ss.Replace($(var.Culture), default, $(var.DefaultCulture)))">
            <?if $(var.Culture) != default ?>
            <Component Id="UninstallerExeLocalization_$(ss.Replace($(var.Culture), -, _))" Guid="*">
              <File Id="UninstallerExeLocalizationFile_$(ss.Replace($(var.Culture), -, _))" Name="Gui.resources.dll" Source="$(var.OutDir)\$(ss.Replace($(var.Culture), default, $(var.DefaultCulture)))\Gui.resources.dll" Vital="yes" />
            </Component>
            <?endif?>
            <Component Id="UninstallerDllLocalization_$(ss.Replace($(var.Culture), -, _))" Guid="*">
              <File Id="UninstallerDllLocalizationFile_$(ss.Replace($(var.Culture), -, _))" Name="SharpSetup.resources.dll" Source="$(var.OutDir)\$(ss.Replace($(var.Culture), default, $(var.DefaultCulture)))\SharpSetup.resources.dll" Vital="yes" />
            </Component>
            <Component Id="UninstallerDllLocalization_$(var.GuiType)_$(ss.Replace($(var.Culture), -, _))" Guid="*">
              <File Id="UninstallerDllLocalizationFile_$(var.GuiType)_$(ss.Replace($(var.Culture), -, _))" Name="SharpSetup.$(var.GuiType).resources.dll" Source="$(var.OutDir)\$(ss.Replace($(var.Culture), default, $(var.DefaultCulture)))\SharpSetup.$(var.GuiType).resources.dll" Vital="yes" />
            </Component>
          </Directory>
          <?endforeach?>
        </Directory>
      </Directory>
    </DirectoryRef>

    <Feature Id="Uninstaller" Level="1" Title="!(loc.FEATURE.UNINSTALLER.TITLE)" Description="!(loc.FEATURE.UNINSTALLER.DESCRIPTION)" Display="hidden">
      <ComponentRef Id="UninstallerExe" />
      <ComponentRef Id="UninstallerExe_AppConfig" />
      <ComponentRef Id="UninstallerDll" />
      <ComponentRef Id="UninstallerDll_$(var.GuiType)" />
      <?foreach Culture in $(var.Cultures) ?>
      <?if $(var.Culture) != default ?>
      <ComponentRef Id="UninstallerExeLocalization_$(ss.Replace($(var.Culture), -, _))" />
      <?endif?>
      <ComponentRef Id="UninstallerDllLocalization_$(ss.Replace($(var.Culture), -, _))" />
      <ComponentRef Id="UninstallerDllLocalization_$(var.GuiType)_$(ss.Replace($(var.Culture), -, _))" />
      <?endforeach?>
      <ComponentRef Id="AddRemovePrograms" />
    </Feature>

  </Fragment>
</Wix>
