<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="TestDatabase" providerName="System.Data.SqlClient"
         connectionString="Server=(LocalDB)\v11.0;AttachDbFilename=TestDatabase.mdf;Database=TestDatabase;Trusted_Connection=Yes;" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <adoNetBinding>
        <binding name="testC" />
      </adoNetBinding>
    </bindings>
    <client>
      <endpoint name="test" address="ado://TestDatabase"
                binding="adoNetBinding" bindingConfiguration="testC" contract="Reply.Cluster.Mercury.Adapters.AdoNet.Tests.ISqlService" />
    </client>
    <extensions>
      <bindingExtensions>
        <add name="adoNetBinding" 
             type="Reply.Cluster.Mercury.Adapters.AdoNet.AdoNetAdapterBindingCollectionElement, Reply.Cluster.Mercury.Adapters.AdoNet.AdoNetAdapter, Version=1.0.0.0, Culture=neutral, PublicKeyToken=08db604d9a981728" />
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
</configuration>